article {
	margin: 0 30px 30px;
	padding-bottom: 30px;
	border-bottom: 2px solid #2c3e50;
}

article:not([data-view=detail]) a {
	display: block;
	padding: 10px 15px;
	transition: background ease .1s;
}

article:not([data-view=detail]) a:hover {
	background-color: #f5f5f5;
}

article:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

article header {
	font-size: 2em;
	line-height: 1.5em;
}

article section {
	margin: 10px 0;
}

article footer {
	font-size: .9em;
	font-style: italic;
}

article footer::before {
	content: '-- ';
}

article[data-view=detail] {
	display: none;
	margin: 65px auto 20px;
	padding: 10px 15px;
	border-bottom: 0;
}

article[data-view=detail] a {
	position: relative;
	color: #D7184C;
}

article[data-view=detail] a::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #F84B4C;
	transform: scale(0);
	transition: transform ease .1s;
}

article[data-view=detail] a:hover {
	color: #F84B4C;
}

article[data-view=detail] a:hover::after {
	transform: scale(1);
}

@media only screen and (max-width: 690px) {
	article {
		margin-right: 0;
		margin-left: 0;
	}

	article a:hover {
		background-color: transparent;
	}
}
