.full-block {
	width: 105%;
	padding: 20px 0;
	margin: 30px -2.5%;
	background-color: #ddd;
	border: 1px solid #bbb;
}

.full-block .wrapper {
	width: 70%;
	margin: 0 auto;
	box-sizing: border-box;
}

.full-block .wrapper.-quote {
	min-height: 85px;
	font-size: 150%;
}

.full-block .wrapper.-quote::before {
	content: '“';
	height: 60px;
	float: left;
	margin-top: -33px;
	margin-right: 20px;
	font-size: 700%;
	line-height: 1;
}

@media only screen and (max-width: 690px) {
	.full-block {
		width: 100vw;
		margin-left: -15px;
		padding: 10px 0;
	}

	.full-block .wrapper {
		width: 100%;
		padding: 0 15px;
	}
}
