body {
	margin: 0;
	padding: 0;

	overflow-x: hidden;

	font: 14px/22px Arial;
	color: #2c3e50;

	-webkit-text-size-adjust: 100%;
}

a {
	color: #2c3e50;
	text-decoration: none;
	outline: none;
}

body > article,
body > section {
	width: 75%;
	min-height: 150px;
	margin: 0 auto;
	padding: 85px 0 50px;
	box-sizing: border-box;
}

[data-state=small] > section {
	display: none;
}

[data-state=small] > article[data-view=detail] {
	display: block;
}

@media only screen and (max-width: 690px) {
	body > article,
	body > section {
		width: 100%;
		padding-top: 40px;
	}
}
