.profile-block {
	position: absolute;
	bottom: -90px;
	left: 50%;
	width: 75%;
	margin-left: -42%;
}

.profile-block .picture {
	display: inline-block;
	width: 212px;
	height: 212px;
	margin-top: -25px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #fff;
	background: url(/static/img/profile.jpg) no-repeat center center;
	background-size: contain;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transform: scale(.8);
	transition: transform ease .2s;
}

.profile-block .picture:hover {
	-webkit-filter: none;
	filter: none;
	transform: scale(1);
}

.profile-block span {
	display: inline-block;
	margin-top: 76px;
	vertical-align: top;
	color: #fff;
}

.profile-block .name {
	font-size: 1.7em;
	border-right: 2px solid #fff;
	padding-right: 10px;
	margin: 70px 6px 0 0;
	line-height: 1.2em;
}

.profile-block > a {
	display: none;
}

.-small .profile-block > a {
	position: absolute;
	bottom: 50px;
	left: 222px;
	display: block;
}

.-small .profile-block > a::before {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin-top: 1px;
	margin-right: 5px;
	transform: rotateZ(180deg);
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20"><path fill="%232c3e50" d="M14.989,9.491L6.071,0.537C5.78,0.246,5.308,0.244,5.017,0.535c-0.294,0.29-0.294,0.763-0.003,1.054l8.394,8.428L5.014,18.41c-0.291,0.291-0.291,0.763,0,1.054c0.146,0.146,0.335,0.218,0.527,0.218c0.19,0,0.382-0.073,0.527-0.218l8.918-8.919C15.277,10.254,15.277,9.784,14.989,9.491z"></path></svg>') no-repeat center center;
	background-size: contain;
}


@media only screen and (max-width: 690px) {
	.-small .profile-block > a {
		bottom: -10px;
		left: 0;
	}

	.profile-block {
		position: absolute;
		width: 95%;
		top: auto;
		bottom: -30px;
		left: 10px;
		margin-left: 0;
	}

	.profile-block .picture {
		width: 125px;
		height: 125px;
	}

	.profile-block .name {
		margin-top: 45px;
		font-size: 1.4em;
		line-height: 1.6em;
	}

	.profile-block .function {
		margin-top: 51px;
	}
}

@media only screen and (max-width: 420px) {
	.profile-block > span {
		font-size: .9em;
	}

	.profile-block .name {
		font-size: 1em;
		line-height: 2.2em;
	}

	.profile-block .function {
		margin-top: 50px;
	}
}

@media only screen and (max-width: 365px) {
	.profile-block .name {
		border-right: 0;
	}

	.profile-block .function {
		display: none;
	}
}
