.profile-block {
	position: absolute;
	bottom: -80px;
	left: 50%;
	width: 75%;
	margin-left: -40%;
}

.profile-block .picture {
	display: inline-block;
	width: 175px;
	height: 175px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #fff;
	background: url(/static/img/profile.jpg) no-repeat center center;
	background-size: contain;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: filter ease .3s, transform ease .2s;
}

.profile-block .picture:hover {
	-webkit-filter: none;
	filter: none;
	transform: scale(1.2);
}

.profile-block span {
	display: inline-block;
	margin-top: 76px;
	vertical-align: top;
	color: #fff;
}

.profile-block .name {
	font-size: 1.7em;
	border-right: 2px solid #fff;
	padding-right: 10px;
	margin: 70px 6px 0 15px;
	line-height: 1.2em;
}

@media only screen and (max-width: 690px) {
	.profile-block {
		position: absolute;
		width: 95%;
		top: auto;
		bottom: -30px;
		left: 10px;
		margin-left: 0;
	}

	.profile-block .picture {
		width: 125px;
		height: 125px;
	}

	.profile-block .name {
		font-size: 1.4em;
		line-height: 1.6em;
	}
}

@media only screen and (max-width: 420px) {
	.profile-block > span {
		font-size: .9em;
	}

	.profile-block .name {
		font-size: 1em;
		line-height: 2.2em;
	}
}

@media only screen and (max-width: 365px) {
	.profile-block .name {
		border-right: 0;
	}

	.profile-block .function {
		display: none;
	}
}
