body > footer {
	margin: 0 20px;
	padding: 20px;
	border-top: 1px solid #ccc;
	text-align: center;
}

body > footer > a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	background: transparent no-repeat center center;
	background-size: contain;
	vertical-align: bottom;
	transition: opacity ease .2s, transform ease .1s;
}

body > footer > a:hover {
	opacity: .8;
	transform: scale(1.15) translateY(-8px);
}

body > footer  svg {
	display: inline-block;
	max-width: 100%;
}
