body > footer {
	margin: 0 20px;
	padding: 20px;
	border-top: 1px solid #ccc;
	text-align: center;
}

body > footer .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 5px;
	background: transparent no-repeat center center;
	background-size: contain;
	vertical-align: bottom;
	transition: opacity ease .2s, transform ease .1s;
}

body > footer .icon:hover {
	opacity: .8;
	transform: scale(1.15);
}

body > footer .icon.-github {
	background-image: url(/static/img/octocat.svg);
}

body > footer .icon.-twitter {
	background-image: url(/static/img/twitter.svg);
}

body > footer .icon.-instagram {
	background-image: url(/static/img/instagram.svg);
	background-size: 95%;
}
