.site-header {
	position: relative;
	background: #181849 url(/static/img/cover.svg) no-repeat center bottom;
	background-size: contain;
	height: 400px;
}

.site-header.-small {
	height: 250px;
	background-position: center center;
}

.site-header::after {
	display: block;
	padding-top: 56.25%;
}

.site-header .wrapper {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@media only screen and (max-width: 690px) {
	.site-header {
		height: auto;
	}

	.site-header::after {
		content: '';
	}

	.site-header .wrapper {
		position: absolute;
	}
}
